.home-background{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/background.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
}
.profile-container{
    text-align: center;
    margin-bottom: 20%;
}
.profile-text{
    color: #ffffff;
    font-size: 25px;
    margin-left: 50px;
}
.profile-image img{
    display: flex;
    align-items: center;
    width: 200px;
    height: 210px;
    border-radius: 50% 60% ;
    object-fit: cover;
    margin-left: 20px;
}
.waving-hand{
    width: 50px;
}